<!DOCTYPE html>
{% extends "./layout.html" %}
{% load static %}

{% block title %}Copy and Paste{% endblock %}

{% block scripts %}
<script defer src="{% static 'clipper/clipboard.js' %}"></script>
{% endblock %}

{% block main %}
<div class="baloon-container">
    <p class="label">Cloud clipboard:</p>
    <div class="baloon" id="cloud-clipboard">Nothing available...</div>
    <div class="full-width left baloon-spacer">
        <button id="receive-button" onclick="receiveClipboard()" class="button">Paste from Cloud</button>
    </div>
</div>
<div class="baloon-container">
    <p class="label">Local clipboard:</p>
    <div class="baloon light" id="local-clipboard">Nothing available...</div>
    <div class="full-width left baloon-spacer">
        <button id="send-button" onclick="sendClipboard()" class="button">Copy to Cloud</button>
    </div>
</div>
{% endblock %}

{% block footernav %}
<div>
    <a class="button full-width">Settings</a>
</div>
<div>
    <a class="button danger full-width dark-font" href="{% url 'login' %}">Logout</a>
</div>
{% endblock %}