<!DOCTYPE html>
{% extends "./layout.html" %}
{% load static %}

{% block title %}Please Rest your password{% endblock %}

{% block main %}
    <h1>Please Enter Your New Password:</h1>
    <form method="post">
        {% csrf_token %}
        <div class="full-width left">
            <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
            {{ form.old_password }}
        </div><br>

        <div class="full-width left">
            <label for="{{ form.new_password1.id_for_label }}">New Password: </label>
            {{ form.new_password1 }}
        </div><br>

        <div class="full-width left">
            <label for="{{ form.new_password2.id_for_label }}">Confirm Password: </label>
            {{ form.new_password2 }}
        </div><br>
        <button type="submit" class="button">Submit</button>
    </form>
{% endblock %}