<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Copy and Paste</title>
    <script defer src="{% static 'clipper/clipboard.js' %}"></script>
</head>
<body>
    <main>
        <h1>Hello World!</h1>
        <div id="cloud-container">
            <p>Cloud clipboard: </p><div id="cloud-clipboard"></div>
        </div><
        <div id="local-container">
            <p>Local clipboard: </p><div id="local-clipboard">Nothing available ...</div>
        </div>
    </main>
</body>
</html>